Requirements for books reservations (version 1.0 / 2017.03.19)

Object "Reservation"

fields:

 private LocalDate fromDate;
 private LocalDate toDate;
 private user User;
 private Book book;
    public Reservation(LocalDate from, LocalDate to, user User);