<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <servlet-class>lv.javaguru.java2.servlet.HelloWorldServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ParameterProcessingServlet</servlet-name>
        <servlet-class>lv.javaguru.java2.servlet.ParameterProcessingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ParameterProcessingServlet</servlet-name>
        <url-pattern>/paramProcessing</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionUsageServlet</servlet-name>
        <servlet-class>lv.javaguru.java2.servlet.SessionUsageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SessionUsageServlet</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RedirectToJSPServlet</servlet-name>
        <servlet-class>lv.javaguru.java2.servlet.RedirectToJSPServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RedirectToJSPServlet</servlet-name>
        <url-pattern>/jsp</url-pattern>
    </servlet-mapping>


</web-app>